{% extends 'admin.html.twig' %}

{% block body %}
<div class="container">
    <h1>Liste des logements</h1>

    <table class="highlight">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Localisation</th>
            <th>Ville</th>
            <th>Type</th>
            <th>Surface</th>
            <th>Chambres</th>
            <th>Personnes max</th>
            <th>Description</th>
            <th>Coef. prix</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for logement in logements %}
        <tr>
            <td><a href="{{ path('logement_show', { 'id': logement.id }) }}">{{ logement.id }}</a></td>
            <td>{{ logement.nom}}</td>
            <td>{{ logement.adresse }}</td>
            <td>{{ logement.localisation }}</td>
            <td>{{ logement.ville }}</td>
            <td>{{ logement.type }}</td>
            <td>{{ logement.surface }}</td>
            <td>{{ logement.chambres }}</td>
            <td>{{ logement.personneMax }}</td>
            <td>{{ logement.description }}</td>
            <td>{{ logement.coefPrix }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('logement_show', { 'id': logement.id }) }}">Afficher</a>
                    </li>
                    <li>
                        <a href="{{ path('logement_edit', { 'id': logement.id }) }}">Modifier</a>
                    </li>
                </ul>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="waves-effect waves-light btn" href="{{ path('logement_new') }}">Créer un nouveau logement</a>
        </li>
    </ul>
</div>
{% endblock %}
