{% if is_granted("IS_AUTHENTICATED_FULLY") %}
    <!--Menu fixé si connecté-->
    <div class="navbar-fixed">
        <nav>
            <a class="brand-logo red-text" href="{{ path('homePage') }}">Chez Nous comme Chez Vous</a>
            <a class="brand-logo center red-text">
                <img src="{{ asset('img/logoSansCNCCV.svg') }}" width="60" height="60">
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ path('homePage') }}" class="red-text gt">Accueil</a></li>
                <li><a href="" class="red-text gt">Qui sommes-nous ?</a></li>
                <!-- Profil si connecté -->
                <li><a class="dropdown-button red-text gt" href="#!" data-activates="dropdown1"> Votre profil
                        <i class="material-icons right">arrow_drop_down</i></a>
                </li>
            </ul>
            <!--Structure-->
            <ul id="dropdown1" class="dropdown-content">
                <li><a class="red-text gt" href="#!">Réservations</a></li>
                <li><a class="red-text gt" href="#!">Documents</a></li>
                <li><a class="red-text gt" href="#!">Paramètres</a></li>
                <li class="divider"></li>
                <li><a class="red-text gt" href="{{ path('logout') }}">Deconnexion</a></li>
            </ul>
        </nav>
    </div>

{% else %}
    <!--Menu fixé si non connecté-->
    <div class="navbar-fixed">
        <nav>
            <a class="brand-logo red-text" href="{{ path('homePage') }}">Chez Nous comme Chez Vous</a>
            <a class="brand-logo center red-text">
                <img src="{{ asset('img/logoSansCNCCV.svg') }}" width="60" height="60">
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ path('homePage') }}" class="red-text gt">Accueil</a></li>
                <li><a href="" class="red-text gt">Qui sommes-nous ?</a></li>
            </ul>
        </nav>
    </div>
    <li>
        <div class="center">
            <a id="btn-connexion" class="waves-effect waves-light btn green modal-trigger"
               href="#connexion">Se connecter</a>
        </div>
        {# Désactiver le bouton agree par false#}
        {% include 'CnccvHouseBundle:widgets:_modal.html.twig' with {
        dataId: 'connexion',
        vue: 'CnccvHouseBundle:Default:connexion.html.twig',
        modalFooter: false
        } %}
    </li>
{% endif %}