{% if is_granted("IS_AUTHENTICATED_FULLY") %}
    <!--Menu fixé si connecté-->
    <div class="navbar-fixed sidebar">
        <nav>
            <a class="brand-logo red-text" href="{{ path('homePage') }}">Chez Nous comme Chez Vous</a>
            <a class="brand-logo center red-text">
                <img src="{{ asset('img/logoSansCNCCV.svg') }}" width="60" height="60">
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ path('homePage') }}" class="red-text gt">Accueil</a></li>
                <li><a href="{{ path('qui') }}" class="red-text gt">Qui sommes-nous ?</a></li>
                <!-- Profil si connecté -->
                <li><a class="dropdown-button red-text gt" href="#!" data-activates="dropdown1"> Votre
                        profil, {{ app.user.firstname }}
                        <i class="material-icons right">arrow_drop_down</i></a>
                </li>
            </ul>
            <!--Structure-->
            <ul id="dropdown1" class="dropdown-content">
                <li><a class="red-text gt" href="{{ path('resa') }}">Réservations</a></li>
                <li><a class="red-text gt" href="{{ path('documents') }}">Documents</a></li>
                <li><a class="red-text gt" href="{{ path('parametres') }}">Profil</a></li>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li><a href="{{ path('admin') }}" class="red-text gt">ADMIN</a></li>
                {% endif %}
                <li class="divider"></li>
                <li><a class="red-text gt" href="{{ path('logout') }}">Deconnexion</a></li>
            </ul>
        </nav>
    </div>

{% else %}
    <!--Menu fixé si non connecté-->
    <div class="navbar-fixed sidebar">
        <nav>
            <a class="brand-logo red-text" href="{{ path('homePage') }}">Chez Nous comme Chez Vous</a>
            <a class="brand-logo center red-text">
                <img src="{{ asset('img/logoSansCNCCV.svg') }}" width="60" height="60">
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ path('homePage') }}" class="red-text gt">Accueil</a></li>
                <li><a href="{{ path('qui') }}" class="red-text gt">Qui sommes-nous ?</a></li>
            </ul>
        </nav>
    </div>
    <li>
        <div class="center fix sidebar">
            <a id="btn-connexion" class="waves-effect waves-light btn red darken-4 modal-trigger"
               href="#connexion">Se connecter</a>
        </div>
        {# Désactiver le bouton agree par false#}
        {% include 'CnccvHouseBundle:widgets:_modal.html.twig' with {
            dataId: 'connexion',
            vue: 'CnccvHouseBundle:Default:connexion.html.twig',
            modalFooter: false
        } %}
    </li>
{% endif %}

    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
        <div class="navbar-fixed appear">
            <!--Menu compressé-->
            <nav>
                <div class="nav-wrapper">
                    <a href="{{ path('homePage') }}" class="brand-logo red-text gt">
                        <img src="{{ asset('img/logoSansCNCCV.svg') }}" width="58" height="58">
                    </a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i
                                class="material-icons red-text">menu</i></a>
                    <div class="sidebar">
                        <ul class="right hide-on-med-and-down">
                            <li><a class="red-text gt" href="#!">Sass</a></li>
                            <li><a class="red-text gt" href="#!">Components</a></li>
                            <li><a class="red-text gt" href="#!">Javascript</a></li>
                            <li><a class="red-text gt" href="#!">Mobile</a></li>
                        </ul>
                        <ul class="side-nav" id="mobile-demo">
                            <li><a class="red-text gt" href="#!">Sass</a></li>
                            <li><a class="red-text gt" href="#!">Components</a></li>
                            <li><a class="red-text gt" href="#!">Javascript</a></li>
                            <li><a class="red-text gt" href="#!">Mobile</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    {% else %}
        <div class="navbar-fixed appear">
            <nav>
                <div class="nav-wrapper">
                    <a href="{{ path('homePage') }}" class="brand-logo red-text gt">
                        <img src="{{ asset('img/logoSansCNCCV.svg') }}" width="58" height="58">
                    </a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i
                                class="material-icons red-text">menu</i></a>
                    <div class="sidebar">
                        <ul class="right hide-on-med-and-down">
                            <li><a class="red-text gt" href="#!">Sass</a></li>
                            <li><a class="red-text gt" href="#!">Components</a></li>
                            <li><a class="red-text gt" href="#!">Javascript</a></li>
                            <li><a class="red-text gt" href="#!">Mobile</a></li>
                        </ul>
                        <ul class="side-nav" id="nav-mobile">
                            <li><a class="red-text gt" href="#!">Sass</a></li>
                            <li><a class="red-text gt" href="#!">Components</a></li>
                            <li><a class="red-text gt" href="#!">Javascript</a></li>
                            <li><a class="red-text gt" href="#!">Mobile</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <li>
            <div class="center fix appear">
                <a id="btn-connexion" class="waves-effect waves-light btn red darken-4 modal-trigger"
                   href="#connexion">Se connecter</a>
            </div>
            {# Désactiver le bouton agree par false#}
            {% include 'CnccvHouseBundle:widgets:_modal.html.twig' with {
                dataId: 'connexion',
                vue: 'CnccvHouseBundle:Default:connexion.html.twig',
                modalFooter: false
            } %}
        </li>
    {% endif %}