{% extends 'admin.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Liste des paramètres de prix</h1>

        <table class="highlight">
            <thead>
            <tr>
                <th>Id</th>
                <th>Jours annulables</th>
                <th>Jours non annulables</th>
                <th>Penalité d'annulation tardive</th>
                <th>Remise à la semaine</th>
                <th>Remise au mois</th>
                <th>Minimum de facturation</th>
                <th>Coefficient par personnes supplémentaires</th>
                <th>Forfait ménage TTC</th>
                <th>Ménage au jour</th>
                <th>Taxe de séjour</th>
                <th>Prix par défaut</th>
                <th>TVA</th>
                <th>Ville</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for parametres_prix in parametres_prixes %}
                <tr>
                    <td>
                        <a href="{{ path('parametres_prix_show', { 'id': parametres_prix.id }) }}">{{ parametres_prix.id }}</a>
                    </td>
                    <td>{{ parametres_prix.jourAnnulable }}</td>
                    <td>{{ parametres_prix.jourNonAnnulable }}</td>
                    <td>{{ parametres_prix.penaliteAnnulationTardive }}</td>
                    <td>{{ parametres_prix.remiseSemaine }}</td>
                    <td>{{ parametres_prix.remiseMois }}</td>
                    <td>{{ parametres_prix.minimumFacture }}</td>
                    <td>{{ parametres_prix.coefPersoSupp }}</td>
                    <td>{{ parametres_prix.forfaitMenageTtc }}</td>
                    <td>{{ parametres_prix.joursMenage }}</td>
                    <td>{{ parametres_prix.taxeSejour }}</td>
                    <td>{{ parametres_prix.prixDef }}</td>
                    <td>{{ parametres_prix.tva }}</td>
                    <td>{{ parametres_prix.ville }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('parametres_prix_show', { 'id': parametres_prix.id }) }}">Afficher</a>
                            </li>
                            <li>
                                <a href="{{ path('parametres_prix_edit', { 'id': parametres_prix.id }) }}">Modifier</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a class="waves-effect waves-light btn" href="{{ path('parametres_prix_new') }}">Créer un nouveau paramètre</a>
            </li>
        </ul>
    </div>
{% endblock %}
