{% extends 'admin.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Paramètre de prix</h1>

        <table class="highlight">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ parametres_prix.id }}</td>
            </tr>
            <tr>
                <th>Jourannulable</th>
                <td>{{ parametres_prix.jourAnnulable }}</td>
            </tr>
            <tr>
                <th>Journonannulable</th>
                <td>{{ parametres_prix.jourNonAnnulable }}</td>
            </tr>
            <tr>
                <th>Penaliteannulationtardive</th>
                <td>{{ parametres_prix.penaliteAnnulationTardive }}</td>
            </tr>
            <tr>
                <th>Remisesemaine</th>
                <td>{{ parametres_prix.remiseSemaine }}</td>
            </tr>
            <tr>
                <th>Remisemois</th>
                <td>{{ parametres_prix.remiseMois }}</td>
            </tr>
            <tr>
                <th>Minimumfacture</th>
                <td>{{ parametres_prix.minimumFacture }}</td>
            </tr>
            <tr>
                <th>Coefpersosupp</th>
                <td>{{ parametres_prix.coefPersoSupp }}</td>
            </tr>
            <tr>
                <th>Forfaitmenagettc</th>
                <td>{{ parametres_prix.forfaitMenageTtc }}</td>
            </tr>
            <tr>
                <th>Joursmenage</th>
                <td>{{ parametres_prix.joursMenage }}</td>
            </tr>
            <tr>
                <th>Taxesejour</th>
                <td>{{ parametres_prix.taxeSejour }}</td>
            </tr>
            <tr>
                <th>Prix par défaut</th>
                <td>{{ parametres_prix.prixDef }}</td>
            </tr>
            <tr>
                <th>Tva</th>
                <td>{{ parametres_prix.tva }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ parametres_prix.ville }}</td>
            </tr>
            </tbody>
        </table>

        <ul>
            <li>
                <a class="waves-effect waves-light btn btn-align" href="{{ path('parametres_prix_edit', { 'id': parametres_prix.id }) }}">Modifier</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input class="waves-effect waves-light btn red btn-align" type="submit" value="Supprimer">
                {{ form_end(delete_form) }}
            </li>
            <li>
                <a class="waves-effect waves-light btn green btn-align" href="{{ path('parametres_prix_index') }}">Retour à la liste</a>
            </li>
        </ul>
    </div>
{% endblock %}
