{% for logement in logements %}
    <div class="col s12 m6 l6 xl4">
        <div class="card">
            <div class="card-image">
                <div class="slider">
                    <ul class="slides">
                        <li>
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRF_CRlqbCJ7I9L5p0fPx3hv7vVFFpqwnfRwU2bwrWtZr3_yzNY">
                            <!-- random image -->
                        </li>
                        <li>
                            <img src="https://www.w3schools.com/css/img_fjords.jpg">
                            <!-- random image -->
                        </li>
                        <li>
                            <img src="https://encrypted-tbn0.gstatic com/images?q=tbn:ANd9GcTxhEeRGtRN0aZCuOMu3i1nZizOcP4hq__Lw_GHFoKC_ZMhDnE4">
                            <!-- random image -->
                        </li>
                    </ul>
                </div>
            </div>
            <span class="card-title card-ti">{{ logement.nom }}</span>
            <div class="card-content">
                <p><b>{{ logement.adresse }}</b></p>
                <p>Ville: {{ logement.ville }}</p>
                <p>Surface: {{ logement.surface }} m²</p>
                <p>Type: {{ logement.type }}</p>
                <p>Nombre de chambre: {{ logement.chambres }}</p>
            </div>
            <div class="card-action">
                <a href="">Description</a>
            </div>
        </div>
    </div>
{% endfor %}