<div class="row">
    <div class="col s4">
        <h5>{{ 'modalConnexion.connexion.title'|trans }}</h5>
        {{ render(controller('FOSUserBundle:Security:login')) }}
    </div>
    <div class="col s4">
        <h5>{{ 'modalConnexion.inscription.title'|trans }}</h5>
        <p>{{ 'modalConnexion.inscription.text'|trans }}</p>
        <div class="center">
            <a class="waves-effect waves-light btn" href="{{ path('fos_user_registration_register') }}">
                {{ 'modalConnexion.inscription.button'|trans }}
            </a>
        </div>
    </div>
    <div class="col s4">
        <h5>{{ 'modalConnexion.partners.title'|trans }}</h5>
    </div>
</div>