{% extends 'admin.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Note</h1>

        <table>
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ note.id }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ note.comm }}</td>
            </tr>
            <tr>
                <th>Propreté</th>
                <td>{{ note.proprete }}</td>
            </tr>
            <tr>
                <th>Accueil</th>
                <td>{{ note.accueil }}</td>
            </tr>
            <tr>
                <th>Confort</th>
                <td>{{ note.confort }}</td>
            </tr>
            <tr>
                <th>Global</th>
                <td>{{ note.global }}</td>
            </tr>
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('note_index') }}">Retour à la liste</a>
            </li>
            <li>
                <a href="{{ path('note_edit', { 'id': note.id }) }}">Modifier</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input class="waves-effect waves-light btn red" type="submit" value="Supprimer">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
