{% extends 'base.html.twig' %}

{% block body %}
    <h1>Utilisateur</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Date d'anniversaire</th>
                <td>{% if user.birthdate %}{{ user.birthdate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ user.address }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ user.zip }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ user.city }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ user.tel }}</td>
            </tr>
            <tr>
                <th>Companie</th>
                <td>{{ user.company }}</td>
            </tr>
            <tr>
                <th>Siren</th>
                <td>{{ user.siren }}</td>
            </tr>
            <tr>
                <th>Créé le</th>
                <td>{% if user.created %}{{ user.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modifié le</th>
                <td>{% if user.updated %}{{ user.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>CNI</th>
                <td>{{ user.imageName }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('user_edit', { 'id': user.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
