{% extends 'admin.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Réservations</h1>

        <table class="highlight">
            <thead>
            <tr>
                <th>Id</th>
                <th>Ajouté le</th>
                <th>Modifié le</th>
                <th>Arrivée</th>
                <th>Depart</th>
                <th>Annulation</th>
                <th>Nombre de personnes</th>
                <th>Nombre de nuits</th>
                <th>Supplément</th>
                <th>Avoir</th>
                <th>Prix</th>
                <th>Calendrier externe</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for reservation in reservations %}
            <tr>
                <td><a href="{{ path('reservation_show', { 'id': reservation.id }) }}">{{ reservation.id }}</a></td>
                <td>{% if reservation.created %}{{ reservation.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if reservation.updated %}{{ reservation.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if reservation.arrivee %}{{ reservation.arrivee|date('Y-m-d') }}{% endif %}</td>
                <td>{% if reservation.depart %}{{ reservation.depart|date('Y-m-d') }}{% endif %}</td>
                <td>{% if reservation.annulation %}{{ reservation.annulation|date('Y-m-d') }}{% endif %}</td>
                <td>{{ reservation.nbPersonne }}</td>
                <td>{{ reservation.nbNuit }}</td>
                <td>{{ reservation.supplement }}</td>
                <td>{{ reservation.avoir }}</td>
                <td>Configurer le prix</td>
                <td>{{ reservation.calendrierExt }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reservation_show', { 'id': reservation.id }) }}">Afficher</a>
                        </li>
                        <li>
                            <a href="{{ path('reservation_edit', { 'id': reservation.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a class="waves-effect waves-light btn" href="{{ path('reservation_new') }}">Créer une nouvelle réservation</a>
            </li>
        </ul>
    </div>
{% endblock %}
