{% extends 'admin.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Réservations</h1>

        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Ajouté le</th>
                <th>Modifié le</th>
                <th>Arrivée</th>
                <th>Depart</th>
                <th>Nombre de personnes</th>
                <th>Nombre de nuits</th>
                <th>Annulation</th>
                <th>Supplément</th>
                <th>Avoir</th>
                <th>Prix</th>
                <th>Calendrier externe</th>
                <th>Numéro de réservation</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for booking in bookings %}
                <tr>
                    <td><a href="{{ path('reservation_show', { 'id': booking.id }) }}">{{ booking.id }}</a></td>
                    <td>{% if booking.created %}{{ booking.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if booking.updated %}{{ booking.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if booking.start_date %}{{ booking.start_date|date('Y-m-d') }}{% endif %}</td>
                    <td>{% if booking.end_date %}{{ booking.end_date|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ booking.nbPersonne }}</td>
                    <td>{{ booking.nbNuit }}</td>
                    <td>{% if booking.annulation %}{{ reservation.annulation|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ booking.supplement }}</td>
                    <td>{{ booking.avoir }}</td>
                    <td>{{ booking.prix }}</td>
                    <td>{{ booking.calendrierExt }}</td>
                    <td>{{ booking.numReservation }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('reservation_show', { 'id': booking.id }) }}">Afficher</a>
                            </li>
                            <li>
                                <a href="{{ path('reservation_edit', { 'id': booking.id }) }}">Modifier</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('reservation_new') }}">Créer une nouvelle réservation</a>
            </li>
        </ul>
    </div>
{% endblock %}
