{% extends 'base.html.twig' %}

{% block body %}
    <h1>Réservations</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Arrivée</th>
                <th>Depart</th>
                <th>Nombre de personnes</th>
                <th>Nombre de nuits</th>
                <th>Annulation</th>
                <th>Supplément</th>
                <th>Avoir</th>
                <th>Calendrier externe</th>
                <th>Numéro de réservation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td><a href="{{ path('reservation_show', { 'id': reservation.id }) }}">{{ reservation.id }}</a></td>
                <td>{% if reservation.arrivee %}{{ reservation.arrivee|date('Y-m-d') }}{% endif %}</td>
                <td>{% if reservation.depart %}{{ reservation.depart|date('Y-m-d') }}{% endif %}</td>
                <td>{{ reservation.nbPersonne }}</td>
                <td>{{ reservation.nbNuit }}</td>
                <td>{% if reservation.annulation %}{{ reservation.annulation|date('Y-m-d') }}{% endif %}</td>
                <td>{{ reservation.supplement }}</td>
                <td>{{ reservation.avoir }}</td>
                <td>{{ reservation.calendrierExt }}</td>
                <td>{{ reservation.numReservation }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reservation_show', { 'id': reservation.id }) }}">Afficher</a>
                        </li>
                        <li>
                            <a href="{{ path('reservation_edit', { 'id': reservation.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reservation_new') }}">Créer une nouvelle réservation</a>
        </li>
    </ul>
{% endblock %}
