{% extends 'admin.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Reservation</h1>

        <table>
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ booking.id }}</td>
            </tr>
            <tr>
            <tr>
                <th>Créé le</th>
                <td>{% if booking.created %}{{ booking.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modifié le</th>
                <td>{% if booking.updated %}{{ booking.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
                <th>Arrivee</th>
                <td>{% if booking.start_date %}{{ booking.start_date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Depart</th>
                <td>{% if booking.end_date %}{{ booking.end_date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Nbpersonne</th>
                <td>{{ booking.nbPersonne }}</td>
            </tr>
            <tr>
                <th>Nbnuit</th>
                <td>{{ booking.nbNuit }}</td>
            </tr>
            <tr>
                <th>Annulation</th>
                <td>{% if booking.annulation %}{{ booking.annulation|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Supplement</th>
                <td>{{ booking.supplement }}</td>
            </tr>
            <tr>
                <th>Avoir</th>
                <td>{{ booking.avoir }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ booking.prix }}</td>
            </tr>
            <tr>
                <th>Calendrierext</th>
                <td>{{ booking.calendrierExt }}</td>
            </tr>
            <tr>
                <th>Numreservation</th>
                <td>{{ booking.numReservation }}</td>
            </tr>
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('reservation_index') }}">Retour à la liste</a>
            </li>
            <li>
                <a href="{{ path('reservation_edit', { 'id': booking.id }) }}">Modifier</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input class="waves-effect waves-light btn red" type="submit" value="Supprimer">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
