{% extends 'admin.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Reservation</h1>

        <table>
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
            <tr>
                <th>Créé le</th>
                <td>{% if reservation.created %}{{ reservation.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modifié le</th>
                <td>{% if reservation.updated %}{{ reservation.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Arrivee</th>
                <td>{% if reservation.start_date %}{{ reservation.start_date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Depart</th>
                <td>{% if reservation.end_date %}{{ reservation.end_date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Nbpersonne</th>
                <td>{{ reservation.nbPersonne }}</td>
            </tr>
            <tr>
                <th>Nbnuit</th>
                <td>{{ reservation.nbNuit }}</td>
            </tr>
            <tr>
                <th>Annulation</th>
                <td>{% if reservation.annulation %}{{ reservation.annulation|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Supplement</th>
                <td>{{ reservation.supplement }}</td>
            </tr>
            <tr>
                <th>Avoir</th>
                <td>{{ reservation.avoir }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>Configurer prix</td>
            </tr>
            <tr>
                <th>Calendrierext</th>
                <td>{{ reservation.calendrierExt }}</td>
            </tr>
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('reservation_index') }}">Retour à la liste</a>
            </li>
            <li>
                <a href="{{ path('reservation_edit', { 'id': reservation.id }) }}">Modifier</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input class="waves-effect waves-light btn red" type="submit" value="Supprimer">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
