{% extends 'admin.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Base prix des évènements</h1>

        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Evènements</th>
                <th>Prix</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for evenement in evenements %}
                <tr>
                    <td><a href="{{ path('evenement_show', { 'id': evenement.id }) }}">{{ evenement.id }}</a></td>
                    <td>{{ evenement.evenement}}</td>
                    <td>{{ evenement.prix }}</td>
                    <td>{% if evenement.dateDebut %}{{ evenement.dateDebut|date('Y-m-d') }}{% endif %}</td>
                    <td>{% if evenement.dateFin %}{{ evenement.dateFin|date('Y-m-d') }}{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('evenement_show', { 'id': evenement.id }) }}">Afficher</a>
                            </li>
                            <li>
                                <a href="{{ path('evenement_edit', { 'id': evenement.id }) }}">Modifier</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('evenement_new') }}">Créer une nouvelle base prix d'un évènement</a>
            </li>
        </ul>
    </div>
{% endblock %}
