{% extends 'admin.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Evènement</h1>

        <table>
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evenement.id }}</td>
            </tr>
            <tr>
                <th>Evènement</th>
                <td>{{ evenement.evenement }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ evenement.prix }}</td>
            </tr>
            <tr>
                <th>Date de début</th>
                <td>
                    {% if evenement.dateDebut %}
                        {{ evenement.dateDebut|date('Y-m-d') }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Date de fin</th>
                <td>
                    {% if evenement.dateFin %}
                        {{ evenement.dateFin|date('Y-m-d') }}
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('evenement_index') }}">Retour à la liste</a>
            </li>
            <li>
                <a href="{{ path('evenement_edit', { 'id': evenement.id }) }}">Modifier</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input class="waves-effect waves-light btn red" type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
