{% extends 'admin.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Base prix</h1>

        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Prix</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for base_prix in base_prixes %}
                <tr>
                    <td><a href="{{ path('base_prix_show', { 'id': base_prix.id }) }}">{{ base_prix.id }}</a></td>
                    <td>{{ base_prix.prix }}</td>
                    <td>{% if base_prix.dateDebut %}{{ base_prix.dateDebut|date('Y-m-d') }}{% endif %}</td>
                    <td>{% if base_prix.dateFin %}{{ base_prix.dateFin|date('Y-m-d') }}{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('base_prix_show', { 'id': base_prix.id }) }}">Afficher</a>
                            </li>
                            <li>
                                <a href="{{ path('base_prix_edit', { 'id': base_prix.id }) }}">Modifier</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('base_prix_new') }}">Créer une nouvelle base prix </a>
            </li>
        </ul>
    </div>
{% endblock %}
