{% extends 'admin.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Base prix</h1>

        <table>
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ base_prix.id }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ base_prix.prix }}</td>
            </tr>
            <tr>
                <th>Date de début</th>
                <td>
                    {% if base_prix.dateDebut %}
                        {{ base_prix.dateDebut|date('Y-m-d') }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Date de fin</th>
                <td>
                    {% if base_prix.dateFin %}
                        {{ base_prix.dateFin|date('Y-m-d') }}
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('base_prix_index') }}">Retour à la liste</a>
            </li>
            <li>
                <a href="{{ path('base_prix_edit', { 'id': base_prix.id }) }}">Modifier</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
